{#- expects c (category) -#}
<article class="card card--link">
  <span class="icon-tile">{% icon c.icon %}</span>
  <h3><a class="stretched" href="/products/{{ c.slug }}/" style="color:inherit;text-decoration:none">{{ c.name }}</a></h3>
  <p>{{ c.nav }}</p>
  <span class="card-link" aria-hidden="true">View category {% icon "arrow-right" %}</span>
</article>
