<a class="tile" href="/products/{{ c.slug }}/">
  <span class="tile-media"><img src="/assets/img/products/{{ c.img }}-m.webp" width="600" height="450" alt="{{ c.name }} products from Acurris Analytical" loading="lazy"></span>
  <span class="tile-body"><strong>{{ c.name }}</strong><span class="ref">{{ c.tag }}</span></span>
</a>
